*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    /* font-weight: 500; */
}

h1 {
    font-size: 3rem;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col {
    width: 100%;
}

.col+.col {
    margin-left: 1em;
}


.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #FFF;
}

.hero__text {
    width: 60%;
}

.hero__image {
    width: 40%;
    align-self: flex-start;
}

.hero p {
    margin-bottom: 3em;
}


.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #23424A;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75;
}

/* Flexbox Basics */

.three-col {
    text-align: center;

    padding: 3em 0;
}

.three-col h2 {
    color: #87629A;
}

.two-col {
    background: #136C72;
    color: #fff;
    text-align: center;

    padding: 3em 0;
}