body {
  background-color: #fff;
  font-family: 'Inter', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-container {
  background-color: gray;
}

.middle-container {
  background-color: red;
  height: 200px;
  width: 200px;
}

.bottom-container {
  background-color: blue;
  height: 200px;
  width: 200px;
}