* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', sans-serif;
  font-size: 1rem;
  text-align: center;
}

h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
  color: #66BFBF;
}

h1 {
  line-height: 2;
}

h2 {
  font-weight: normal;
}

h3,
a {
  color: #11999E;
}

p,
a,
h2,
h3 {
  margin: 1em 0;
}

.top-container {
  background-color: rgb(200, 238, 255);
  position: relative;
  height: 100vh;
}


.textone {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

.text {
  z-index: 100;
  padding-top: 300px;
  text-align: center;
  margin: 0 auto;
}

.clouds {
  width: 200px;
  position: absolute;
}

.clouds.left {
  position: absolute;
  left: 400px;
  top: 250px;
}

.clouds.right {
  position: absolute;
  right: 400px;
  bottom: 200px;
}

.clouds.inner {
  position: absolute;
  bottom: 160px;
  left: 600px;
}

.mountains {
  max-width: 800px;
  position: absolute;
  bottom: -102px;
  left: 34%;
}

/* Middle container */

.middle-container {}

.profile-picture {
  border-radius: 50%;
  margin-top: 2rem;
  width: 200px;
}

.icon {
  width: 400px;
}

.skills {
  display: grid;
  grid-template-row: 1fr 1fr;
  row-gap: 2em;
  place-items: center;
  text-align: left;
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 6.25rem auto 6.25rem auto;
}

.icon {
  width: 25%;
}

.contact-me {}


/* Bottom container */

.bottom-container {}