.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 35px;
}


@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr
    }
}

@media (min-width: 751px) and (max-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr
    }
}


@media (min-width: 1000px) {
  .video-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  } 
}

.video-card {
  width: 100%;
}

.video-thumbnail-container {
  margin-bottom: 10px;
}

.video-thumbnail {
  width: 100%;
}

.video-info-container {
  display: flex;
}

.user-channel-picture-container {
  margin-right: 10px;
}

.user-channel-picture {
  width: 35px;
  border-radius: 50%;
}

.video-title {
  font-weight: bold;
  font-size: 0.825rem;
  margin-bottom: 10px;

}

.user-channel-name {
  font-size: 0.825rem;
  margin-bottom: 5px;
} 

.video-stats {
  font-size: 0.825rem;
}



