/* Exercise 13a */
.exercise-13a {
  display: flex;
  margin-bottom: 20px;
}

.item1 {
  /* change the background color of the item1 */
  background-color: lightpink;
  /* set the size of the item1 */
  width: 150px;
  height: 100px;
  /* centering the position of the item1 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.item1-content {
  background-color: black;
  color: #fff;
  font-size: 1.50rem;
}

.item2 {
  background-color: lightblue;
  /* make the item2 take the all spaces */
  flex: 1;
}

/* Exercise 13b */
.exercise-13b {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.div1 {
  /* change the background color of the item1 */
  background-color: lightpink;
  /* set the size of the item1 */
  width: 150px;
  height: 100px;
}

.div2 {
  /* change the background color of the item1 */
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  flex: 1;
  height: 100px;
  font-size: 1.80rem;
}

.row1 {
  margin: 0;
}

.row2 {
  margin: 0;
  background-color: black;
  color: #fff;
}

.row2-left {
  background-color: black;
  color: #fff;
}

/* Challenges */

.exercise-13d {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba( 0, 0, 0, 0.25);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.inbox-label {
  font-weight: bold;
  color: rgb(169, 169, 169);
}

.email {
  display: flex;
  align-items: center;
  margin: 20px 0;
}


.sender-picture {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.email-content {
  flex: 1;
}

.email-header {
  display: flex;
  justify-content: space-between;
}

.sender-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.send-time {
  color: rgb(169, 169, 169);
}

.subject {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.message {
  color: rgb(88, 88, 88);
}