.header {
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* fixed top navbar */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: #fff;
  border: 1px solid rgb(238, 238, 238);
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger-menu {
  height: 24px;
  margin: 0 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.05);
  /* set the width to zero to make the search bar shrink */
  width: 0;
}

.search-bar::placeholder {
  color: #888888;
}

.search-button {
  height: 40px;
  width: 66px;
  border: 1px solid #ccc;
  background-color: rgb(242, 242, 242);
  margin-left: -1px;
  margin-right: 10px;
}

.search-button, .voice-search-button, .upload-icon-container, .youtube-apps-container, .notifications-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-button .tooltip, .voice-search-button .tooltip, .upload-icon-container .tooltip, .youtube-apps-container .tooltip, .notifications-icon-container .tooltip {
  position: absolute;
  bottom: -40px;

  background-color: #666;
  color: #ffff;
  font-size: 0.75rem;
  padding: 8px 6px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip, 
.upload-icon-container:hover .tooltip, .youtube-apps-container:hover .tooltip, .notifications-icon-container:hover .tooltip {
  opacity: 1;
}


.search-icon {
  height: 25px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  background-color: rgb(251, 251, 251);
  border: none;
  border-radius: 50%;
  
}

.voice-search-icon {
  height: 24px;
}

.right-section {
  width: 182px;
  margin: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* make the flex item doesn't shrink*/
  flex-shrink: 0; 
}

.upload-icon {
  height: 24px;
}

.youtube-apps-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -6px;

  background-color: #cc0000;
  color: #fff;
  font-size: 	0.625rem;
  padding: 1px 5px;
  border-radius: 50%;
}

.current-user-picture {
  height: 32px;
  border-radius: 50%;
}