.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 56px;

  background-color: #fff;
  width: 72px;
  padding-top: 5px;
  z-index: 200;
}

.sidebar-link {
  height: 75px;
  width: 72px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar-link img {
  height: 25px;
  margin-bottom: 5px;
}

.sidebar-link div {
  font-size: 0.625rem;
}

.sidebar-link:hover {
  background-color: rgb(232, 232, 232);
}