.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
  color: black !important;
}

.video-preview {
  cursor: pointer;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 40px;
}

.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.video-time {
  font-size: 0.75rem;
  background-color: rgb(0, 0, 0, 0.9);
  color: #fff;
  padding: 2px 4px;
  border-radius: 2px;
  /* position the element into bottom right corner */
  position: absolute;
  bottom: 7px;
  right: 4px;
}

.video-author, .video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}


@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1080px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Remove the text underline */
.video-link, .channel-link {
  text-decoration: none;
  color: #111;
}

/* Remove the pointer cursor when hovering over */
.video-stats {
  pointer-events: none;
}


