*,
*::before,
*::after {
  box-sizing: border-box;

}

body {
  margin: 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  padding: 100px 0;
  background-color: #23424A;
  color: #fff;
}