* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.intro {
  background-color: #23424a;
  color: #fff;
  padding: 5em 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.intro-content {
  width: 55%;
}

.intro-title {
  font-weight: 900;
  font-size: 3rem;
}

.intro-text {
  margin: 1em 0;
  font-size: 1.3125rem;
  font-weight: 400;
}

.btn {
  display: inline-block;
  background-color: #38CFD9;
  color: #23424a;
  padding: 0.5em 2em;
  margin-top: 1em;
  border-radius: 100px;

  font-weight: 700;
  font-size: 1.3125rem;

  /* identical to box height, or 32px */
  letter-spacing: 0.05em;
  text-transform: uppercase;
}