* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto';
  color: #fff;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.hero {
  background: #23424A;
  padding: 200px 0;
}

.hero-content {
  width: 55%;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;

  margin-bottom: 0.5em;
}

.hero-text {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 2em;
}


.button {
  background: #38CFD9;
  color: #000;
  font-size: 1.3125rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  border-radius: 240px;

  width: 35%;
  padding: 0.5em 1em;

  overflow: hidden;
  cursor: pointer;
}