.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;
}

.left-section {
  background-color: lightblue;
  width: 160px;
}

.middle-section {
  background-color: lightpink;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}

.right-section {
  background-color: lightpink;
  width: 200px ;
}