:root {
  --ff-oswald: 'Oswald', sans-serif;
  --ff-montserrat: 'Montserrat', sans-serif;

  --ff-def: 1rem;
  --fs-xs: 1.25rem;
  --fs-s: 1.3125rem;
  --fs-m: 1.5rem;
  --fs-l: 1.875rem;
  --fs-xl: 2.25rem;
  --fs-xxl: 5.625rem;

  --color-primary: #3b4050;
  --color-secondary: #f1f1f1;
  --color-dark: #2E323F;
  --color-light: #fff;
  --color-accent: #A59678;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--ff-montserrat);
  font-size: var(--ff-def);
  line-height: 1.2;
  position: relative;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: min(80%, 1200px);
  margin: 0 auto;
}


